@page

@{
	ViewData[ViewDataKeys.Title] = "Account confirmed";
}

<h1>Account confirmed</h1>

<p>
	Your account has been confirmed successfully. You can now <a asp-page="@Urls.Account.Login">log in</a>.
</p>