@page

@{
	ViewData[ViewDataKeys.Title] = "Email change requested";
}

<h1>Email change requested</h1>

<p>
	We have received your request to update your email address. Please check your new email address for a confirmation email and click the confirmation link to complete your email address change.
</p>