<MudCard>
	<MudCardHeader class="@(HeaderClass + " justify-space-between")">
		<div>
			<MudText Typo="Typo.h6">
				@Title
			</MudText>
			@if (!string.IsNullOrEmpty(Subtitle))
			{
				<MudText Typo="Typo.caption">
					@Subtitle
				</MudText>
			}
		</div>

		@if (!string.IsNullOrEmpty(Icon))
		{
			<MudIcon Icon="@Icon"/>
		}
	</MudCardHeader>

	<MudCardContent>
		@CardContent
	</MudCardContent>

	<MudCardActions Class="pa-4">
		@CardActions
	</MudCardActions>
</MudCard>