@page

@{
	ViewData[ViewDataKeys.Title] = "Account deleted";
}

<h1>Account deleted</h1>

<p>
	Your account has been deleted. You can't recover your personal data any longer, but you can still <a asp-page="@Urls.Account.Register.RegisterIndex">register</a> any time.
</p>

<p>
	We're sorry to see you go. We hope to see you again soon!
</p>