<div>
	<MudText Typo="Typo.h6">@Name</MudText>
	<MudDivider/>
	<SpaceBetweenContent>
		<MudText>@Value</MudText>
		<PrimaryButton Link="@Url"
		               OnClick="OnClick">
			Update
		</PrimaryButton>
	</SpaceBetweenContent>
</div>